<!DOCTYPE html>
<html>

<head>
  <% for (let i = 0; i < htmlWebpackPlugin.files.js.length; i += 1) { %>
  <script defer src="<%= htmlWebpackPlugin.files.js[i] %>" type="application/javascript"></script>
  <% } %>
</head>

<body>

</body>

</html>
